<a href="https://colab.research.google.com/github/ManojKrJena/AbhishekChauhan9036/blob/main/16seppythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hi')

hi

# Programming Languages

-> A medium to communicate with the machine.
-> We have different types of programming languages:(C,C++,Java,C#,Javascript,Python)

# What is python?

-> Python is a programming language that tells the computer of what to do.

-> High level language(similar to english).

-> Interpreted: It will execute our code line by line.


# Where can we use python?

-> Data scientists/Data Analyst: scipy, sklearn, numpy, pandas.

-> Data visualisation: Matplotlib, seaborn, pyplot.

-> Machine learning/AI: scikit learn, Tenserflow.

In [ ]:
# Case sensitive- Lower cases and upper cases are different. It treats uppercase and lowercase as different things.


print('Hello')

Hello

In [ ]:
print('hello')

hello

In [ ]:
Print('hello')

NameError: name 'Print' is not defined

# Comments

-> If we don't want to write some parts of the code we put that in comments.

1. Single line comment-> #

2. Multiline comment-> """ """

In [ ]:
# Hello guys

In [ ]:
"""
Hello everyone
we are gonna learn
about python today
"""

print('hi')

hi

# Variables

1. Imagine variable as a box where you can out anything.
2. my_box is the name of my box and i am storing toy-car in my box.

In [ ]:
my_box = 'Toy car'

In [ ]:
my_box

'Toy car'

# Rule for creating a variable

1. Must start with a letter or (underscore) (a,b,c,abc,devansh,manoj, _a,_adevansh.
2. Cannot be started with a number(8abc, 9q, 2b).
3. Cannot have keywords as variable name (print=5)
4. We can't have space in between the variable name while declaring(a b).
5. We cannot use any special characte other than _.

In [ ]:
my_name = 'devansh'

In [ ]:
_myname = 'devansh'

In [ ]:
1myname = 'devansh'

SyntaxError: invalid decimal literal (ipython-input-1737577999.py, line 1)

In [ ]:
my_name_1 = 'devansh'

In [ ]:
$my_name = 'devansh'

SyntaxError: invalid syntax (ipython-input-2625731120.py, line 1)

In [ ]:
my_age = 28
print(my_age)

28

In [ ]:
my_fav_fruit = 'mango'
print(my_fav_fruit)

mango

# Python Data Types

1. Integer: Whole number like 1,100,5,300,-4. Any number without the decimal point is called an integer.

2. Float: Number with decimal points. Eg: 9.8, 100.5, 4.4, 3.14. Any number with the decimal point is called as float.

3. String: letters, words, sentence. String should be surrounded by "" or ''.

4. Boolean: True or False.

In [ ]:
# Integer

num = 555
print(type(num))

<class 'int'>

In [ ]:
# Float

float_num = 60.54
print(type(float_num))

<class 'float'>

In [ ]:
# Boolean

flag = True
print(type(flag))

<class 'bool'>

In [ ]:
# String

name = 'devansh'
print(type(name))

<class 'str'>

# Operators: These are the special symbols that are used to perform the operation.

1. Arithmetic operator: used for math

-> Addition: 2+2=4

-> Subtraction: 5-3=2

-> Multiplication: 2*3=6

-> Division: 5/2=2.5

-> Floor division: 5//2=2(removal of the decimal)

-> Modulus(remainder): 5%2=1

-> Exponent(power): 2**2=4

2. Comparison operator(True or False)

-> == -> Equal -> 5==5 -> True

-> != -> Not equal -> 5!=3 -> True

-> Greater than -> 5>3 -> True

-> Less than -> 5<3 -> False

-> Greater than or equal -> 5>=5 -> True

-> Less than or equal -> 5<=3-> False

3. Logical operator:

-> and -> True if both the conditions are true. 5>3 and 10>3 -> True

-> or -> True if atleast one condition is true. 5>10 or 3<5 -> True

-> not -> Reverse the resul. not(5>3) -> False

4. Assignment operator:

-> = -> Assign -> x = 5

-> += -> Add and assign -> x+=3 ( same as x=x+3)

-> -= -> Subtract and assign -> x-=2 (same as x=x-2)

-> *= -> Multiply and assign -> x*=2 (same as x=x*2)

-> /= -> Divide and assign -> x/=2 (same as x=x/2)

-> //= Floor division -> x//=2 (same as x=x//2)

-> %= -> Modulus and assign

-> **= Exponent and assign

In [ ]:
# Arithmetic operator

a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Assignment operator

x = 10

In [ ]:
x+=5

In [ ]:
x

15

In [ ]:
x*=10

In [ ]:
x

150

In [ ]:
x//=3

In [ ]:
x

50

In [ ]:
x-=40

In [ ]:
x

10

In [ ]:
x**=2

In [ ]:
x

100

In [ ]:
# Comparison operator

a=10
b=5

In [ ]:
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
# Logical operator

# AND

x = 10
y = 20

result = x>5 and y>15
print(result)

True

In [ ]:
# OR

x = 10
y = 5

result = x>15 or y>2
print(result)

True

In [ ]:
# NOT

x = True
print(not x)

False

# Sequential Data type: It stores the element in a specific order that can be accesses through indexing.

1. List : It is collection of items that are ordered, mutable(it can be changed) and ir allows duplicates.  []

2. Tuple : It is collection of items that are ordered, immutable(it cannot bt changed) and it also allows duplicates. ()

In [ ]:
# List

grocery_list = ["salt",'sugar','rice','flour','soap','shampoo','apple','orange','chips']
len(grocery_list)

9

In [ ]:
type(grocery_list)

list

In [ ]:
grocery_list[1] = 'butter'
print(grocery_list)

['salt', 'butter', 'rice', 'flour', 'soap', 'shampoo', 'apple', 'orange', 'chips']

In [ ]:
grocery_list.append('sugar')
print(grocery_list)

['salt', 'butter', 'rice', 'flour', 'soap', 'shampoo', 'apple', 'orange', 'chips', 'sugar']

In [ ]:
grocery_list.remove('flour')
print(grocery_list)

['salt', 'butter', 'rice', 'soap', 'shampoo', 'apple', 'orange', 'chips', 'sugar']

In [ ]:
# Tuple

fruits = ('apple','banana','cherry')
numbers = (10,20,30,40,50)
mixed = (1,'hello',3.5, True)

In [ ]:
# access elements

print(fruits[0])

apple

In [ ]:
print(numbers[2])

30

In [ ]:
fruits[1] = 'mango'

TypeError: 'tuple' object does not support item assignment

# Unsequential datatype: Do not maintain a fixed order meaning the elements cannot be accessed by using indexing.

1. Set: It is unordered collection of unique items, we cannot have duplicates.

2. Dictionary : It is collection of key value pairs.

In [ ]:
# set

fruits = {'apple','banana','cherry'}
print(fruits)

{'banana', 'apple', 'cherry'}

In [ ]:
fruits.add('orange')

In [ ]:
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [ ]:
fruits.remove('banana')
print(fruits)

{'orange', 'apple', 'cherry'}

In [ ]:
numbers = {1,2,2,3,4,5,5}
print(numbers)

{1, 2, 3, 4, 5}

In [ ]:
num = {1,23,False,True,0}
print(num)

{False, 1, 23}

In [ ]:
# Dictionary

student ={
    'name':'Devansh',
    'age': 28,
    'grade':'A'
}
print(student)

{'name': 'Devansh', 'age': 28, 'grade': 'A'}

In [ ]:
print(student['name'])

Devansh

In [ ]:
print(student['age'])

28

In [ ]:
student.pop('grade')

'A'

In [ ]:
print(student)

{'name': 'Devansh', 'age': 28}